*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: colum;
    justify-content: center;
    align-items: center;
    background-color: #343333;
}

hr{
    width: 100%;
    border: 1px solid #f1eeef;
}

main{
    width: 500px;
    margin-top: 20vh;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 1em;
    background-color: #006afe;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

main > form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    border-radius: 1em;
    color:#000000;
    font-size: larger;
    font-weight: 800;
}

.input-form{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    gap: 50px;
}

input{
    width: 100%;
    min-width: 300px;
    padding-top: 5px;
    padding-bottom: 10px;
    border-radius: 1em;
    border: 1px solid #d4d3d6;
    background-color: #c6c5cf ;
    text-align: center;
    align-items: start;
    font-size: large;
}

main > form > button{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 1em;
    border: 1px solid #ffffff;
    background-color: #f3f0f1 ;
    color: #120912;
    font-size: larger;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
}

main > form > button{
    text-decoration:  none;
}

main > form > button{
    text-decoration:  none;
    color: #000000;
    font-size: larger;
}

.white{
    color: white;
}

.go-back-button{
    width: 100%;
    padding-top: 10px;
    height: 40px;
    border-radius: 1em;
    border: 1px solid #f6f1f3;
    background-color: #ffffff ;
    color: #000000;
    font-size: larger;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
}

#private{
    padding-top: 10vh;
    padding-bottom: 10vh;
    color: white;
    font-size: larger;
}