.botones {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.boton {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 1em;
    border: 1px solid #d4d3d6;
    background-color: #006afe;
    color: #fff;
    font-size: larger;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
}

.boton:hover {
    background-color: #343333;
}

